/* The following .css sheet styles all the HTML pages in the application. This was done by design choice,
taking into consideration the pros and cons of this mentioned here:
https://stackoverflow.com/questions/2336302/single-huge-css-file-vs-multiple-smaller-specific-css-files
As my code goes through lots of HTTP requests, a combined file will help minimise resources used in serving pages. */

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,600,700);

/* Format for landing page, similar (or identical) styling structure used in other forms to maintain design aesthetic*/
.login-page {
  width: 450px;
  padding: 8% 0 0;
  margin: auto;
}

.form {
  position: relative;
  z-index: 1;
  background: #ffffff;
  max-width: 450px;
  margin: 0 auto 100px; /*margins are independent of screen size*/
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  outline: 0;
  background: #f2f2f2; /* slightly grey fields */
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  outline: 0;
  background: #e67e22; /*color of button*/
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff; /*color of text*/
  font-size: 15px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #B25B2C; /* make the button darker on hover/click*/
}

/*CHAT PAGE FORMATTING. All pages in the GUI use the topnav and wrapper classes for the
CSS menu at the top and the chat/information box in the body of the page. */

/* Add a very dark blue/purple background color to the top navigation */
.topnav {
    background-color: #334;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    display: inline-block;
    color: #f2f2f2;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 10px;
    padding-right: 20px;
    text-decoration: none; /*removes underlining*/
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    color: #e37222;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: 'Source Sans Pro', sans-serif;
  background: #3eb2ae;
}

/* Total chat box length, longer than the actual container to allow for margins at the bottom*/
.wrapper {
  position: relative;
  left: 50%;
  width: 1000px;
  height: 1200px;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.container {
  position: relative;
  top: 37.5%;
  left: 50%;
  width: 100%; /*100% of wrapper width/height*/
  height: 70%;
  background-color: #fff;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
/*Left involves search functions/information about logged in users/list of users*/
.container .left {
  float: left;
  width: 35%;
  height: 100%;
  border: 1px solid #e6e6e6;
  background-color: #fff;
}
.container .left .top {
  position: relative;
  width: 100%;
  height: 60px;
  padding: 35px;
  padding-top: 20px;
}

.container .left .people {
  margin-left: -1px;
  border-right: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
  width: calc(100% + 2px);
  height: 779px; /*why css why*/
  overflow-y: auto;
  overflow-x: hidden;
}
.container .left .people .person {
  position: relative;
  width: 100%;
  padding: 12px 10% 16px;
  cursor: pointer;
  background-color: #ffffff;
}
/*Nice little dashed line to separate different people*/
.container .left .people .person:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  width: 80%;
  height: 1px;
  content: '';
  background-color: #e6e6e6;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}
/*Format circular profile picture, in code this is grabbed from their profile info*/
.container .left .people .person img {
  float: left;
  width: 40px;
  height: 40px;
  margin-right: 12px;
  border-radius: 50%;
}

.container .left .people .person .name {
  font-size: 14px;
  line-height: 22px;
  color: #1a1a1a;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
}

/*Preview has the little description below the name. Currently shows whether the user is online or not*/
.container .left .people .person .preview {
  font-size: 14px;
  display: inline-block;
  width: 80%;
  white-space: nowrap;
  color: #999;
}

/*Change the colour of the user list to orange when a mouse hovers over a person*/
.container .left .people .person.active, .container .left .people .person:hover {
  margin-top: -1px;
  margin-left: -1px;
  padding-top: 13px;
  border: 0;
  background-color: #e67e22;
  width: calc(100% + 2px);
  padding-left: calc(10% + 1px);
}

.container .left .people .person.active span, .container .left .people .person:hover span {
  color: #fff;
  background: transparent;
}

.container .left .people .person.active:after, .container .left .people .person:hover:after {
  display: none;
}

/*Right side of container has chat box implementations*/
.container .right {
  position: relative;
  float: left;
  width: 65%;
  height: 100%;
}

.container .right .top {
  width: 100%;
  height: 47px;
  padding: 15px 29px;
  background-color: #eceff1;
}
.container .right .top span {
  font-size: 15px;
  color: #999;
}
.container .right .top span .name {
  color: #1a1a1a;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
}

/*Styling the actual chat box. Key factors: overflow-y (can be scrolled) but not overflow-x (force chat to wrap)*/
.container .right .chat {
  overflow-y: scroll;
  overflow-x: hidden;
  height: calc(100% - 82px);
  padding-top: 20px;
  padding-bottom: 10px;
  padding-right: 25px;
  padding-left: 25px;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/*Potential styling for markdown formatted messages in the chat box, sourced from various w3schools articles*/
.chat b {
  font-weight:bold;
}
.chat i {
  font-size: 12px;
}
.chat em {
  font-style: italic;
}

.chat strong {
  font-weight: 700;
}

.chat code {
  font-family: monospace;
}

.chat ol {
  display: block;
  list-style-type: decimal;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}

.chat h1 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.chat h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

/*Style the bottom bar's positioning*/
.container .right .write {
  position: absolute;
  bottom: 0px;
  height: 42px;
  padding-left: 8px;
  border: 1px solid #e6e6e6;
  background-color: #f2f2f2;
}

/*Style the input box for chat*/
.container .right .write input {
  font-size: 16px;
  float: left;
  width: 609px;
  height: 40px;
  color: #1a1a1a;
  border: 0;
  outline: none;
  background-color: #eceff1;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}

/*Style the envelope graphic. Keep in mind this is NOT clickable (or appears not clickable).
To change this, add back cursor: */
.container .right .write .write-link.send{
  display: inline-block;
  width: 31px;
  height: 40px;
  border: 0;
  background-color: #eceff1;
  background-image: url("https://s30.postimg.org/nz9dho0pp/send.png");
  background-repeat: no-repeat;
  background-position: center;
}

/*For markdown selection, just float the thing on the right hand side so it sits directly below the chat box.
The best I can do given the time constraints, revise this later if possible.*/
.container .right .write select {
  float: right;
}

/*Styling a chat bubble*/
.container .right .bubble {
  font-size: 16px;
  display: inline-block;
  clear: both;
  margin-bottom: 8px;
  padding: 13px 14px;
  vertical-align: top;
  border-radius: 5px;
}

/*Align the chat bubble left if the message was sent to me, else align right. Also make sent messages
be grey and received messages orange (to stay congruent with colour scheme). Because of this, the text
colour must also be switched between white and black respectively to maintain readability.*/

.container .right .bubble.you {
  float: left;
  color: #1a1a1a;
  background-color: #eceff1;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.container .right .bubble.me {
  float: right;
  color: #ffffff;
  background-color: #e67e22;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

/*profile viewing and logs/search box styling*/
.search input {
  outline: 0;
  background: #f2f2f2; /* slightly grey fields */
  width: 74.7%;
  border: 0;
  margin: 0 0 5px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 12px;
}

/*Might need to change these elements to suit different browsers - test on Ubuntu Firefox.*/
.search button {
  outline: 0;
  background: #f2f2f2; /*color of button*/
  border: 0;
  text-indent: -9999px;
  border-radius: 10px;
  margin-left: 15px;
  background-image: url("http://www.dliflc.edu/wp-content/themes/DLIFLC/images/icon-find.png"); /*some magnifying glass looking thing*/
  background-repeat: no-repeat;
  background-position: center;
  height: 36px;
  font-size: 11px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
/*Styling for edit profile*/
.profile-form input {
  background: #f2f2f2;
  width: 60%;
  border: 0;
  margin: 0 0 5px;
  padding: 8px;
}

.profile-form button {
  outline: 0;
  background: #e67e22; /*color of button*/
  border: 0;
  padding: 4px;
  color: #ffffff; /*color of text*/
  font-size: 15px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
